@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800");

* {
  margin: 0;
  padding: 0;
}

body {
  font: 16px Eczar serif;
  color: #212529;
  background-color: #0000004D;
}
strong {
    color: red;
    font: 60px wallpoet cursive;
}
 h5 strong {
    color: #ffffff;
    font: 25px Eczar serif;
}
.btn-orange {
    color: #212529;
    font: 25px Eczar serif;
    background-color: red;
    margin: 6px;
    padding: 6px 12px;
    border-radius: 100px;
}
 a{
     text-decoration: none;
 }
.landing {
    background-image: url("../assets/slider.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    text-align: center;
    font-size: smaller;
    color: white;
}